body {
    font-family: Arial;
    font-size: 60%;
    margin: 5% 5% 0% 5%;
}

h1 {
    color: rgb(30, 63, 159);
}

button {
    width: 100%;
    display: block;
    padding: 8px 0px;
    margin: 8px auto;
}

pre {
    color: rgb(0, 100, 186);
    font-size: 12
}

#inputText {
    width: 100%;
    min-height: 35px;
    font-size: 16
}
